@use "@material/linear-progress/mdc-linear-progress" as linear;
@use "@material/linear-progress/_index" as l;
@import "../../styles/variable";
@import "../../styles/mixin";

.container {
  margin-top: 64px;
  padding: 0 15%;

  @include phone {
    padding: 0 2%;
  }

  @include tablet {
    padding: 0 5%;
  }
}

.progress {
  @include l.bar-color(black);
}

.dark .progress {
  @include l.bar-color(white);
}

.card-content {
  padding: 16px;
}

.playerlist {
  margin: 10px 0;

  & img {
    padding-right: 2px;
  }
}
