@use "@material/button/mdc-button";
@use "@material/button";
@use "@material/card/mdc-card";
@use "@material/card";
@import "./mixin";

body,
html,
#___gatsby > div {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 0.2em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: 1px solid grey;
  }
}

#___gatsby.dark {
  color: white;
  background-color: black;

  & a {
    color: white;

    &.active:not(.no-decoration-link),
    &:hover:not(.no-decoration-link) {
      background-color: #212121;
    }
  }

  & .mdc-top-app-bar {
    background-color: black;
  }

  @include desktop {
    & header.nav-index:not(.nav-scrolled) {
      background-color: transparent;
      & * {
        background-color: transparent !important;
      }
    }
  }

  .mdc-card {
    @include card.fill-color(black);
  }

  & .container,
  .card-content,
  .blog-container,
  .blog-card-container,
  .menu a {
    background-color: black;
  }

  nav {
    & button,
    li,
    i {
      color: white;
    }
  }

  button.rammy-button {
    @include button.filled-accessible(white);
  }

  & footer div {
    background-color: #181818 !important;
  }

  .mdc-linear-progress__bar-inner {
    background-color: #e6e6e6;
  }

  .mdc-linear-progress__buffer {
    background-color: #212121;
  }
}

main {
  flex: 1 0 auto;
}

.hidden {
  display: none !important;
}
