@import "./variable";

@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

@mixin phone {
  @media only screen and (max-width: $phone) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: ($phone+1)) and (max-width: $tablet) {
    @content;
  }
}
