.center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 10px;
}

.no-decoration-link {
  text-decoration: none;
  color: black;
}

.headline1 {
  font-size: 2.25rem;
  line-height: normal;
  margin-bottom: 25px;
}

.headline6 {
  margin: 10px 0;
}

.subtitle2 {
  opacity: 0.5;
}

.fs {
  &-12 {
    font-size: 12px !important;
  }

  &-24 {
    font-size: 24px !important;
  }

  &-36 {
    font-size: 36px !important;
  }

  &-46 {
    font-size: 46px !important;
  }
}

.v-align {
  vertical-align: middle;
}
