$mdc-theme-primary: #ffffff;
$mdc-theme-secondary: #f5f5f5;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;

$phone: 599px; //Max-width
$tablet: 839px; //Max-width
$desktop: 840px; //Min-width
