@use "@material/card/mdc-card";
@use "@material/button/mdc-button";
@import "../../styles/mixin";

.guide-card {
  height: 100%;

  div.mdc-card__primary-action {
    div.mdc-card__media {
      width: 100%;
      padding: 1px;
      height: 180px;

      & > div {
        height: 200px;

        @include desktop {
          height: 100%;
        }
      }
    }

    .blog-card-container {
      width: inherit;
      padding: 0px 15px;
      margin: 5px;
    }
  }
}
