@use "@material/card/mdc-card";
@use "@material/button/mdc-button";
@import "../../styles/mixin";

.blog-card div.mdc-card__primary-action {
  display: flex;
  flex-direction: row;

  @include phone {
    display: block;
  }

  @include tablet {
    display: block;
  }

  div.mdc-card__media {
    width: 100%;
    padding: 1px;
    height: 180px;

    @include desktop {
      width: 200px;
    }

    & > div {
      height: 200px;

      @include desktop {
        height: 100%;
      }
    }
  }

  .blog-card-container {
    width: 95%;
    padding: 0px 15px;
    margin: 5px;

    @include desktop {
      width: 80%;
    }
  }
}
