@use "@material/elevation/mdc-elevation" as elevate;
@use "@material/elevation";
@import "../../styles/variable";

footer {
  height: auto;
  width: 100%;
  bottom: 0;
  background-color: $mdc-theme-secondary;
  @include elevation.elevation(3, grey, 0.001);

  .footer {
    &-text {
      white-space: pre-line;
    }

    &-icon {
      height: 32px;
      width: 32px;
      display: inline-block;
      padding: 0 5px;

      &:hover {
        opacity: 0.6;
      }

      &-container {
        height: 25px;
        width: 25px;
        margin: 5px;
      }
    }
  }
}
