@import "../../styles/mixin";

.blog-container {
  margin-top: 64px;
  padding: 0 20%;

  @include phone {
    padding: 0 5%;
  }

  @include tablet {
    padding: 0 10%;
  }

  .blog-post {
    padding-top: 15px;
    padding-bottom: 100px;

    &-image-container > div {
      max-height: 400px;
    }

    &-content {
      line-height: 1.8;
      text-align: justify;
    }

    & > .back-button {
      opacity: 0.6;
      font-size: 13.5px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
