.portrait-container {
  margin: auto;
  height: 360px;
  width: 270px;

  & > :first-child {
    transform: scale(1);
    transition: transform 0.2s ease;
  }

  .mdc-card {
    width: inherit;
    bottom: 0;
    opacity: 0;
    margin-bottom: 0;
    transition: transform 0.2s, opacity 0.5s;
    transform: translateY(0);
  }

  &:hover {
    & > :first-child {
      transform: scale(1.2);
      transition: transform 0.2s ease;
    }

    & .mdc-card {
      opacity: 1;
      transform: translateY(-100%);
      transition: transform 0.2s, opacity 0.5s;
    }
  }
}
