@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/elevation/mdc-elevation";
@use "@material/elevation";
@import "../../styles/variable";
@import "../../styles/mixin";

.mdc-top-app-bar {
  background-color: white;
}

.nav {
  @include elevation.elevation(3, grey, 0.001);

  @include desktop {
    &-index:not(.nav-scrolled) {
      @include elevation.elevation(0);
      background-color: transparent;
      //padding: 30px;
      color: white;
      transition: mdc-elevation-transition-value(0s, 0s);

      & > .mdc-top-app-bar__row {
        & a,
        i {
          color: white;

          &.active,
          &:hover {
            background-color: transparent;
          }
        }

        & .nav-logo {
          transform: scale(1.5, 1.5) translate(25%, 50px);
          transition: transform 0.3s ease;
        }

        & .nav-desktop {
          transform: translate(-75px, 75px);
          transition: transform 0.3s ease;
        }
      }
    }

    &-scrolled {
      transition: background-color 0.2s ease;

      & .nav-logo {
        transform: scale(1, 1) translate(0px, 0px);
        transition: transform 0.3s ease;
      }

      & .nav-desktop {
        transform: translate(0px, 0px);
        transition: transform 0.3s ease;
      }
    }
  }

  &-desktop {
    @include desktop {
      z-index: 10;
      display: block;
    }

    @include phone {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &-mobile {
    max-width: 90px;
    margin-right: 10px;

    & > div {
      display: inline-flex;
    }

    @include desktop {
      display: none;
    }

    @include phone {
      display: block;
      & button {
        height: 56px;
      }
    }

    @include tablet {
      display: block;
      & button {
        height: 64px;
      }
    }
  }

  &-icon {
    padding: 18px 10px;
    cursor: pointer;

    @include phone {
      padding: 16px 10px;
    }
  }

  &-title {
    padding-left: 10px;
    vertical-align: middle;
  }

  i {
    color: black;
  }
}

// Mobile Navigation
.menu {
  width: 100vw;
  height: 0px;
  background-color: white;
  transition: height 0.5s;
  overflow: hidden;

  @include elevation.elevation(1, grey);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: none;
      text-align: center;
      width: 100vw;

      a {
        text-decoration: none;
        padding: 18px 00px;
        display: inline-block;
        width: inherit;
        color: #000;

        &.active,
        &:hover {
          background-color: $mdc-theme-secondary;
        }
      }
    }
  }

  &-show {
    height: 256px;
    transition: height 0.5s;
  }
}

// Desktop Navigation
nav {
  i {
    padding: 18px 10px;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    margin: 0 15px 0 0;

    li {
      float: left;

      a {
        padding: 18px 10px;
        text-decoration: none;
        color: #000;
        float: left;

        &.active,
        &:hover {
          background-color: $mdc-theme-secondary;
        }
      }

      button {
        padding: 18px 10px;
        color: #000;
        float: left;
        border: none;
        background: $mdc-theme-primary;

        &:hover {
          background: $mdc-theme-secondary;
          cursor: pointer;
        }
      }
    }
  }
}

.logo-container {
  max-height: 60px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 4px;

  @include phone {
    max-height: 56px;
    width: 56px;
  }
}
