@import "../../styles/variable";

.banner {
  overflow: hidden;
  padding: 0;

  @media only screen and (min-width: 1200px) {
    max-height: 400px;
  }

  @media only screen and (min-width: $desktop) {
    /* tablets and desktop */
    max-height: 600px;
  }

  @media only screen and (max-width: $phone) {
    /* phones */
    max-height: 400px;
  }

  @media only screen and (max-width: $phone) and (orientation: portrait) {
    /* portrait phones */
    max-height: 400px;
  }

  & img {
    max-width: 100vw;
    width: 100vw;
  }
}
